<%= _.template(require('./../includes/header.html'))() %>
    <main class="main">
        <div class="container container_narrow container_unsubscribe">
            <div class="row">
                <div class="col-12 col-xxxl-40">
                    <h2>Your&nbsp;<br class="h2__br">Subscriptions</h2>
                </div>
                <div class="col-12 col-xxxl-60 px-0 px-sm-15px">
                    <form action="">
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                <label class="custom-control-label" for="customCheck1">We believe in unconditional sincerity and transparency. That's why our users' profiles reflect this in every possible way. With a simple and friendly layout, our profiles clearly show all the details you need to make an informed decision.</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                                <label class="custom-control-label" for="customCheck2">The subject of this Privacy Policy is the use of this Service and the sites, functions and performances offered as part of the Service.</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">The subject of this Privacy Policy is the use of this Service and the sites, functions and performances offered as part of the Service.</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">The subject of this Privacy Policy is the use of this Service and the sites, functions and performances offered as part of the Service.</label>
                            </div>
                        </div>
                        <div class="form-group form-group_btn-unsuscr">
                            <button class="btn btn_w100">Save Preferences</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>