body {
  font-family: $font_family;
  font-weight: $font_weight;
  font-size: $font_size_mobile;
  color: $font_color;
  background-color: $body_bg_color;
  line-height: 1.5;
  @media (min-width: 768px) {
    font-size: $font_size;
  }
}

.container {
  @media (min-width: 1500px) {
    max-width: $container-xxl + $grid-gutter-width;
  }
  @media (min-width: 1920px) {
    max-width: $container-xxxl + $grid-gutter-width;
  }
  &.container_settings {
    @media (min-width: 1200px) {
      padding-top: 37px;
    }
  }
  &.container_wide {}
  &.container_index {
    @media (min-width: 1920px) {
      max-width: 1535px;
    }
  }
  &.container_slider {
    padding-right: 0;
    padding-left: 0;
    @media (min-width: 576px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  &.container_unsubscribe {}
  &.container_narrow {
    @media (min-width: 1500px) {
      max-width: $container-xxl + $grid-gutter-width;
    }
    @media (min-width: 1920px) {
      max-width: $container-xxl + $grid-gutter-width;
    }
  }
}
.content {
  @media (min-width: 992px) {
    padding: 50px 0 0;
  }
  @media (min-width: 1200px) {
    padding: 74px 48px 20px;
  }
  @media (min-width: 1920px) {
    padding: 74px 148px 20px;
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $body_bg_color;
  z-index: 999;
  transition: 0.5s all;
  opacity: 1;
  visibility: visible;
  .loader {
    width: 75px;
    height: 75px;
    background-image: url('../img/icons/favicon.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  &.done {
    opacity: 0;
    visibility: hidden;
  }
  @keyframes spin {
    from {
      width: 75px;
      height: 75px;
    }
    to {
      width: 150px;
      height: 150px;
    }
  }
}

.sticky-footer {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: $body_mb_mob + $footer_height_mob;
    &.no-push-bottom {
      margin-bottom: $footer_height_mob;
    }
    &.no-push-bottom-mob {
      margin-bottom: $footer_height_mob;
    }
    .main {
      //padding-top: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $footer_height_mob;
    }
    @media (min-width: 400px) {
      &.no-push-bottom-mob {
        margin-bottom: $body_mb_mob + $footer_height_mob;
      }
    }
    @media (min-width: 992px) {
      margin-bottom: $body_mb + $footer_height;
      .footer {
        height: $footer_height;
      }
      &.no-push-bottom {
        margin-bottom: $footer_height;
      }
    }
  }
}

.d-xxl-none {
  @media (min-width: 1500px) {
    display: none !important;
  }
}
.d-xxl-block {
  @media (min-width: 1500px) {
    display: block !important;
  }
}
.d-xxxl-block {
  @media (min-width: 1920px) {
    display: block !important;
  }
}
