.user-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 35px;
  justify-content: space-between;
  @media (min-width: 348px) {
    justify-content: space-around;
  }
  @media (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 100px;
  }
  @media (min-width: 1920px) {
    padding: 0 0 189px;
  }
  &.user-list_slider {
    @media (min-width: 992px) {
      padding: 0;
    }
    &.owl-carousel {
      .owl-dots {
        bottom: 0;
        @media (min-width: 992px) {
          bottom: 10px;
        }
      }
    }
  }
}

.user-list-item {
  width: 134px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 0;
  margin: 33px 0 34px;
  position: relative;
  box-sizing: content-box;
  @media (min-width: 430px) {
    margin: 33px 8px 34px;
  }
  @media (min-width: 768px) {
    margin: 33px 8px 50px 0;
  }
  @media (min-width: $user_list_item_breakpoint) {
    width: 282px;
    margin: 33px 0 0 0;
  }
  @media (min-width: 1200px) {
    padding-right: 30px;
    border-right: 1px solid $input_border_color;
    margin: 33px 30px 0 0;
  }
  @media (min-width: 1500px) {
    padding-right: 58px;
    margin: 33px 58px 0 0;
  }
  .user-list-item__pic {
    width: 134px;
    max-width: 134px;
    min-width: 134px;
    height: 169px;
    max-height: 169px;
    border-radius: 0;
    //overflow: hidden;
    @media (min-width: $user_list_item_breakpoint) {
      width: 282px;
      max-width: 282px;
      min-width: 282px;
      height: 394px;
      max-height: 394px;
    }
    .user-list-item__img {
      width: 100%;
      height: 169px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      position: relative;
      @media (min-width: $user_list_item_breakpoint) {
        height: 394px;
      }
    }
  }
  .user-list-item__inf {
    height: 117px;
    max-height: 117px;
    padding: 17px 0 0;
    @media (min-width: $user_list_item_breakpoint) {
      height: 260px;
      max-height: 260px;
      padding: 38px 0 0;
    }
    .user-list-item__title {
      text-align: center;
      color: $font_color;
      margin-bottom: 11px;
      position: relative;
      @media (min-width: $user_list_item_breakpoint) {
        margin-bottom: 27px;
      }
      .user-list-item__name {
        font-family: $font_family2;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        @media (min-width: $user_list_item_breakpoint) {
          font-size: 33px;
        }
      }
      .user-list-item__loc {
        text-transform: uppercase;
        font-family: $font_family;
        font-weight: 400;
        font-size: 8px;
        line-height: 1;
        position: absolute;
        top: -25px;
        z-index: 1;
        background-color: $body_bg_color;
        border-radius: 100%;
        width: 104px;
        height: 16px;
        padding: 5px 7px 0;
        @media (min-width: $user_list_item_breakpoint) {
          width: 185px;
          height: 34px;
          padding: 10px 10px 0;
          font-size: 15px;
          top: -53px;
        }
      }
    }
    .user-list-item__btn {}
  }
  .user-list-item__match {
    display: block;
    width: 52px;
    height: 40px;
    background-color: $btn_bg_color;
    border-radius: 100%;
    text-align: center;
    font-family: $font_family2;
    font-weight: 400;
    font-size: 8px;
    line-height: 11px;
    color: $font_color2;
    padding: 10px;
    position: absolute;
    top: -15px;
    right: -14px;
    z-index: 10;
    @media (min-width: $user_list_item_breakpoint) {
      width: 105px;
      height: 85px;
      font-size: 16px;
      line-height: 19px;
      padding: 26px 23px 23px;
      top: -33px;
      right: -36px;
    }
  }
}

.user-list-title {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 33px;
  color: $user_list_title_color;
  @media (min-width: $user_list_item_breakpoint) {
    font-size: 33px;
    line-height: 55px;
    margin-bottom: 70px;
    text-align: center;
  }
  @media (min-width: 1200px) {
    margin-bottom: 107px;
  }
}

.user-list-extra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  @media (min-width: 348px) {
    justify-content: space-around;
  }
  @media (min-width: 1200px) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  &.owl-carousel {
    .owl-dots {
      bottom: 0;
      @media (min-width: 992px) {
        bottom: 0;
      }
    }
  }
}

.user-list-extra-item {
  width: 134px;
  display: flex;
  flex-direction: column;
  background-color: $body_bg_color;
  border-radius: 0;
  position: relative;
  margin-bottom: 33px;
  box-sizing: content-box;
  @media (min-width: 430px) {
    margin: 0 8px 34px;
  }
  @media (min-width: 768px) {
    margin: 33px 8px 50px 0;
  }
  @media (min-width: $user_list_item_breakpoint) {
    width: 282px;
    margin: 33px 0 0 0;
  }
  @media (min-width: 1200px) {
    padding-right: 30px;
    border-right: 1px solid $input_border_color;
    margin: 33px 30px 0 0;
  }
  @media (min-width: 1500px) {
    padding-right: 58px;
    margin: 33px 58px 0 0;
  }
  .user-list-extra-item__pic {
    max-width: 134px;
    min-width: 134px;
    height: 169px;
    max-height: 169px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    @media (min-width: $user_list_item_breakpoint) {
      max-width: 282px;
      min-width: 282px;
      height: 394px;
      max-height: 394px;
    }
    .user-list-extra-item__img {
      width: 100%;
      height: 169px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      @media (min-width: $user_list_item_breakpoint) {
        height: 394px;
      }
    }
    .user-list-extra-item__icon {
      width: 47px;
      height: 37px;
      background-color: $btn_bg_color;
      border-radius: 100%;
      text-transform: uppercase;
      text-align: center;
      color: $font_color2;
      font-family: $font_family2;
      font-weight: 400;
      font-size: 7px;
      padding: 15px 7px 14px;
      line-height: 1.2;
      @media (min-width: $user_list_item_breakpoint) {
        width: 105px;
        height: 85px;
        font-size: 16px;
        padding: 34px 10px;
      }
    }
  }
  .user-list-extra-item__inf {
    background-color: transparent;
    color: $font_color;
    text-align: center;
    padding: 17px 8px 0;
    border-radius: 0;
    position: relative;
    @media (min-width: $user_list_item_breakpoint) {
      padding: 38px 15px 0;
    }
    .user-list-extra-item__name {
      font-family: $font_family2;
      font-weight: 400;
      font-size: 14px;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 33px;
      }
    }
    .user-list-extra-item__loc {
      text-transform: uppercase;
      font-family: $font_family;
      font-weight: 400;
      font-size: 8px;
      line-height: 1;
      background-color: $body_bg_color;
      border-radius: 100%;
      width: 104px;
      height: 16px;
      padding: 5px 7px 0;
      position: absolute;
      top: -8px;
      z-index: 1;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 15px;
        width: 185px;
        height: 34px;
        padding: 10px 10px 0;
        top: -14px;
      }
    }
  }
}