$container-xxl:             1256px;
$container-xxxl:            1256px;
$body_bg_color:             #F3E4E1;
/**/$logo_main_color:           #000;
$btn_bg_color:              #E1C2BF;
$btn_hover_bg_color:        #E6B3AE;
/**/$btn2_bg_color:             #E9E0D3;
/**/$btn2_hover_bg_color:       #FF445A;
$bg_dark_1:                 #E1C2BF;
$bg_light_1:                #F5D9D4;
$bg_light_2:                #E8E2DC;
$font_color:                #4E464F;
$font_color2:               #2A2531;
$font_family:               "CeraPro", sans-serif;
$font_weight:               300;
$font_size:                 19px;
$font_size_mobile:          15px;
$body_mb:                   120px;
$body_mb_mob:               70px;
$font_family2:              "Aclonica", serif;
$link_txt_family:           $font_family;
$link_color:                $btn_hover_bg_color;
$link_hover_color:          $font_color;
$footer_height:             108px;
$footer_height_mob:         236px;
$footer_text_color:         #F4F0EC;
$footer_text_color_hover:   $font_color;

//Form
$input_bg:                  $body_bg_color;
$input_hover_bg:            $input_bg;
$input_txt_family:          $font_family;
$input_txt_color:           $font_color;
$input_hover_txt_color:     $input_txt_color;
$input_placeholder_color:   rgba(78, 70, 79, 0.7);
$input_txt_xs_size:         15px;
$input_txt_xs_lh:           1.5;
$input_txt_size:            22px;
$input_txt_lh:              1.5;
$input_border:              1px solid $btn_bg_color;
$input_hover_border:        $input_border;
$input_border_radius:       0;
$textarea_border_radius:    0;

//Custom Checkbox
$checkbox_xs_padding_left:      42px;
$checkbox_xs_width:             21px;
$checkbox_xs_height:            21px;
$checkbox_xs_left:              -42px;
$checkbox_xs_top:               2px;
$checkbox_xs_marker_width:      9px;
$checkbox_xs_marker_height:     9px;
/**/$checkbox_xs_marker_top:        7px;
/**/$checkbox_xs_marker_left:       $checkbox_xs_left + 7px;

$checkbox_padding_left:         86px;
$checkbox_width:                36px;
$checkbox_height:               36px;
$checkbox_left:                 -86px;
$checkbox_top:                  9px;
$checkbox_marker_width:         15px;
$checkbox_marker_height:        15px;
/**/$checkbox_marker_top:           15px;
/**/$checkbox_marker_left:          $checkbox_left + 15px;

$checkbox_txt_family:           $font_family;
$checkbox_txt_color:            $font_color;
$checkbox_txt_xs_size:          15px;
$checkbox_txt_size:             19px;
$checkbox_txt_xs_lh:            26px;
$checkbox_txt_lh:               32px;
$checkbox_bg_color:             transparent;
$checkbox_checked_bg_color:     transparent;
$checkbox_border:               none;
$checkbox_checked_border_color: transparent;
$checkbox_active_bg_color:      transparent;
$checkbox_bg_icon:              '../img/icons/checkbox.svg';
$checkbox_bg_icon_checked:      '../img/icons/checkbox-checked.svg';
$checkbox_checked_marker_color: #000;

//Custom RadioButton
$radio_xs_width:             21px;
$radio_xs_height:            21px;
$radio_xs_marker_width:      7px;
$radio_xs_marker_height:     7px;
$radio_xs_left:              -$radio_xs_width - 15px;
$radio_xs_top:               0;
$radio_xs_marker_left:       -29px;
$radio_xs_marker_top:        7px;
$radio_xs_padding_left:      $radio_xs_width + 15px;

$radio_width:                32px;
$radio_height:               32px;
$radio_marker_width:         12px;
$radio_marker_height:        12px;
$radio_left:                 -$radio_width - 21px;
$radio_top:                  0;
$radio_marker_left:          -43px;
$radio_marker_top:           10px;
$radio_padding_left:         $radio_width + 21px;
$radio_checked_marker_color: $font_color;

$radio_txt_family:           $font_family;
$radio_txt_color:            $font_color;
$radio_txt_xs_size:          15px;
$radio_txt_size:             22px;
$radio_txt_xs_lh:            1.5;
$radio_txt_lh:               1.5;
$radio_bg_color:             $body_bg_color;
$radio_checked_bg_color:     $radio_bg_color;
$radio_border:               1px solid $btn_bg_color !important;
$radio_hover_border:         $radio_border;
$radio_checked_border_color: $btn_bg_color;
$radio_active_bg_color:      $btn_bg_color;
$radio_bg_icon:              "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='4' fill='%234E464F'/%3E%3C/svg%3E";

//Custom Switch
/**/$switch_bg_width: 115px;
/**/$switch_bg_height: 48px;
/**/$switch_bg_width_mob: 76px;
/**/$switch_bg_height_mob: 32px;
/**/$switch_bg_border_radius: 0;
/**/$switch_dot_size_w: 28px;
/**/$switch_dot_size_h: 28px;
/**/$switch_dot_size_w_mob: 18px;
/**/$switch_dot_size_h_mob: 18px;
/**/$switch_dot_border_radius: 0;
/**/$switch_bg_color: $bg_light_1;
/**/$switch_bg_color_active: $switch_bg_color;
/**/$switch_bg_color_checked: $switch_bg_color;
/**/$switch_dot_color: $body_bg_color;
/**/$switch_dot_color_active: $btn_bg_color;
/**/$switch_border: none;
/**/$switch_border_active: none;
/**/$switch_txt: '';
/**/$switch_txt_color: $font_color;
/**/$switch_txt_color_checked: $font_color;
/**/$switch_margin_right: 59px;
/**/$switch_margin_right_mob: 29px;

//Bootstrap container width
@function get-container-width($key: 'md') {
  @return map-get($container-max-widths, $key);
}

//User List page wider
$user_list_wider:           160px;/**/
$user_list_item_breakpoint: 992px;
$user_list_title_color:     $font_color;